# Imports

In [42]:
import numpy as np
import pandas as pd
import swifter
# import pandas_profiling
import pprint
import pickle

import time

from collections import defaultdict
from sklearn import preprocessing

## Jupyter Configurations

In [43]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

%matplotlib inline

## Function Definitions

In [44]:
# Blank

## Read Data

In [45]:
%%time

infile = open('US_Accidents_Dec19', 'rb')
df = pickle.load(infile)
infile.close()

print('Imported {:,} rows.'.format(len(df)))

Imported 2,974,335 rows.
CPU times: user 2.96 s, sys: 2.09 s, total: 5.06 s
Wall time: 5.78 s

## Drop unneeded columns

In [46]:
%%time

df.drop(['Description', 'Number', 'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Airport_Code'], axis = 1, inplace = True) # Don't work for Label Encoding

CPU times: user 572 ms, sys: 537 ms, total: 1.11 s
Wall time: 1.31 s

In [51]:
%%time

# Categorical boolean mask
categorical_feature_mask = df.dtypes==object
# filter categorical columns using mask and turn it into a list
categorical_cols = df.columns[categorical_feature_mask].tolist()

categorical_cols.remove('ID')
categorical_cols.remove('Side')
categorical_cols.remove('Timezone')
# categorical_cols.remove('Weather_Condition')

print(categorical_cols)

['Wind_Direction', 'Weather_Condition']
CPU times: user 1.14 ms, sys: 68 Âµs, total: 1.2 ms
Wall time: 1.17 ms

In [52]:
# %%time

# # instantiate labelencoder object
# le = preprocessing.LabelEncoder()

# # apply le on categorical feature columns
# df[categorical_cols] = df[categorical_cols].apply(lambda col: le.fit_transform(col), axis = 0)
# df[categorical_cols].head(10)

In [53]:
%%time

d = defaultdict(preprocessing.LabelEncoder)
label_mapping = df[categorical_cols].apply(lambda x: d[x.name].fit_transform(x))

TypeError: ('argument must be a string or number', 'occurred at index Wind_Direction')

## Label Encoding

In [22]:
df['Wind_Direction'].value_counts()

0     505194
9     236980
15    217156
14    199606
4     194214
12    152177
16    145355
13    143801
11    138774
1     138477
8     137640
17    137543
7     122234
10    111762
6     100059
5     100047
2      96679
3      96637
Name: Wind_Direction, dtype: int64

In [ ]:
%%time

d = defaultdict(preprocessing.LabelEncoder)
label_mapping = df.apply(lambda x: d[x.name].fit_transform(x))

In [ ]:
label_mapping

In [ ]:
%%time

label_mapping.apply(lambda x: d[x.name].inverse_transform(x))

In [41]:
df_example = pd.DataFrame({
    'pets': ['cat', 'dog', 'cat', 'monkey', 'dog', 'dog'], 
    'owner': ['Champ', 'Ron', 'Brick', 'Champ', 'Veronica', 'Ron'], 
    'location': ['San_Diego', 'New_York', 'New_York', 'San_Diego', 'San_Diego', 
                 'New_York']
})

df_example

coll = ['pets','location']

d = defaultdict(preprocessing.LabelEncoder)
fit = df_example[coll].apply(lambda x: d[x.name].fit_transform(x))

fit

     pets     owner   location
0     cat     Champ  San_Diego
1     dog       Ron   New_York
2     cat     Brick   New_York
3  monkey     Champ  San_Diego
4     dog  Veronica  San_Diego
5     dog       Ron   New_York

   pets  location
0     0         1
1     1         0
2     0         0
3     2         1
4     1         1
5     1         0

In [31]:
fit.apply(lambda x: d[x.name].inverse_transform(x))

     pets     owner   location
0     cat     Champ  San_Diego
1     dog       Ron   New_York
2     cat     Brick   New_York
3  monkey     Champ  San_Diego
4     dog  Veronica  San_Diego
5     dog       Ron   New_York